<div class="container">
    <mat-card>

        <mat-card-content>
            <h2>Organizers</h2>

            <span class="names">Prathiksha C : +91 944 344 9137</span><br>
            <span class="names">Dhurga Sri Devi S : +91 638 355 6519</span><br>
            <br><br>


            <h2>Senior Developers</h2>

            <span class="names">Kavin Pragadeesh K</span><br>
            <span class="names">Mohamed Arshath N</span><br>
            <span class="names">Prakashkumar P</span><br>
            <span class="names">Vishnu Priya P</span><br>
            <br><br>
            <h2>Junior Developers</h2>

            <span class="names">Aishiya G</span><br>
            <span class="names">Paargav Shanker Su</span><br>
            <span class="names">Kavia M</span><br>
            <span class="names">Sabhari</span><br>

            <br>
            <span class="names">Srinath SureshKumar</span><br>
            <span class="names">Eashwar P</span><br>
            <span class="names">Dhrisha G</span><br>
            <span class="names">Shankar Kumar S</span><br>
            <span class="names">Shruthi M</span><br>
            <span class="names">Muralikrishnan S</span><br>
            <br><br>
            <h2>Design</h2>

            <span class="names">Sri Hari GC</span><br>
            <span class="names">Vikash Kumar</span><br>
            <span class="names">Anjum Jannath</span><br>
            <span class="names">Bharath</span><br>
            <br><br>



        </mat-card-content>
    </mat-card>
</div>