<div class="overlay" *ngIf="visibility">
    <mat-card class="errorCard">
        <mat-card-content>
            <div class="errorheader">
                <h2>{{errorMessage}}</h2>

            </div>
            <br>

            <button mat-raised-button class="errorkbutton" (click)="reload()">&nbsp;&nbsp;&nbsp;RESUME GAME</button>


        </mat-card-content>
    </mat-card>

</div>

<div class="overlay" *ngIf="finish && !visibility">


    <div class="header-finish">
        <img src="../../assets/congrats.png">
        <br><br>
        <h2>Congratulations, You have Successfully solved the mystery! </h2> <br><br>
        <br>
        <br>
        <button mat-raised-button class="playgame" (click)="routeLeaderboard()">&nbsp;&nbsp;&nbsp;LEADERBOARD</button>

    </div>

</div>


<div *ngIf="loading && !visibility && !finish">

    <div class="spinner__loading">
        <div>
            <mat-spinner strokeWidth="3" [diameter]="100" type="indeterminate"></mat-spinner>
        </div>
    </div>
</div>

<div class="titleHeader" *ngIf="!loading && !visibility && !finish">
    <h2>Level {{questionNumber+1}}</h2>

</div>
<div class="question-slider" [ngStyle]="!visibility && !finish ? { 'filter':'blur(0px)'} : { 'filter':'blur(10px)' }" *ngIf='!loading'>

    <swiper [config]="config">


        <div class="swiper-wrapper">

            <div class="swiper-slide" *ngFor="let image of images">
                <div class="container">
                    <img [src]='image' />

                </div>
            </div>

        </div>

        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>


        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>


    </swiper>


    <mat-card>
        <mat-card-content *ngIf="!flipClues">

            <div class="header">
                <h2>PUT YOUR ANSWER IN THE BOX</h2>
                <br>Press Clues Button for clues. Use the audio button for levels which need audio clues.
                <br><b>Answers should be typed in small letters and there should be no spaces between words.</b>
                <br>
                <br> Eg: if answer = Kurukshetra 2021, your input should be 'kurukshetra2021'
                <br><br>
                <b>Read all slides carefully and then answer questions.</b>
                <br>
            </div>
            <br>
            <form (ngSubmit)="onSubmitAnswer" [formGroup]="answerForm">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Answer</mat-label>
                    <input type="text" formControlName="answer" matInput placeholder="Enter Answer " required />
                    <mat-error *ngIf="answerForm.controls['answer'].touched &&  answerForm.controls['answer'].invalid">
                        Enter in the specified format only!
                    </mat-error>
                </mat-form-field>
                <br>
                <button mat-raised-button class="kbutton" (click)="onSubmitAnswer()">SUBMIT ANSWER</button>
                <br><br>

            </form>
            <button mat-raised-button class="clues" (click)="clickClues()"><i class="fa fa-question-circle" aria-hidden="true" ></i></button> &nbsp;&nbsp;
            <button mat-raised-button class="audio" (click)='audioClue()' [disabled]="disableClueButton"><i class="fa fa-headphones" aria-hidden="true"></i></button>
            <br><br>




        </mat-card-content>
        <mat-card-content *ngIf="flipClues">
            <div class="header">
                <h2>CLUES AVAILABLE</h2>

                <div *ngFor="let clues of clue; let indexOfelement=index;">
                    <p><span>{{indexOfelement+1}}: </span>{{clues}}</p>
                </div>


            </div>
            <button mat-raised-button class="kbutton" (click)="flipForAnswer()">GO TO ANSWER</button>
        </mat-card-content>



    </mat-card>

</div>