<div class="header-leaderboard">
    <h2>Instructions</h2> <br>
    <br>

</div>

<div class="container">
    <mat-card>

        <mat-card-content>


            <h2>Before Playing Sherlock</h2>

            <ol>
                <li class="names"> Sign up at kurukshetraceg.org.in.</li><br>
                <li class="names"> Get your K! ID</li><br>
                <li class="names"> This is a multiplayer game. </li><br>
                <li class="names"> Make sure your partner, Watson has signed up at kurukshetraceg.org.in</li><br>
                <li class="names"> Have Watson's K! ID handy too. </li><br>
                <li class="names"> Email ID and Password used for logging in Sherlock site should be same as the one used for signup in kurukshetraceg.org.in</li><br>
                <li class="names"> If Google Login was used in signup in kurukshetraceg.org.in, the same account should be used for logging in Sherlock Game Site.</li><br>
            </ol>


            <br><br>
            <h2>Pairing Sherlock and Watson</h2>

            <ol>
                <li class="names"> Sherlock should login in the Website</li><br>
                <li class="names"> Sherlock will be taken to the pair up page. </li><br>
                <li class="names"> Sherlock is required to enter Watson's K! ID as per instructions stated there. </li><br>
                <li class="names"> Watson will recieve an email containing a link. </li><br>
                <li class="names"> Watson should click the link in the email to pair up with Sherlock within 24 Hrs of sending the pairing request. </li><br>
                <li class="names"> Only if paired, can Sherlock and Watson proceed to play the game. </li><br>

            </ol>

            <br><br>

            <h2>Playing the Game </h2>
            <ol>
                <li class="names"> Game will proceed level wise.</li><br>
                <li class="names"> Sherlock and Watson should play together.</li><br>
                <li class="names"> Only if both players complete the current level, can they proceed to the next level. </li><br>
                <li class="names"> Answer should be entered in the format stated there in the answer box. </li><br>
                <li class="names"> There are finite number of tries for answering the questions. If player exhausts the number of tries, then contact for assisstance to proceed. </li><br>
                <li class="names"> Clues are available for all levels </li><br>
                <li class="names"> Some levels have audio clues and player will be prompted regarding the same. </li><br>
                <li class="names"> Players can check their rankings in the leaderboard</li><br>
            </ol>



            <br><br>

            <h2>Read all the slides carefully and then answer. Only then, you can understand the storyline properly.</h2>
            <br><br>
            <h2><i>And the Hunt for the Mystery Begins............ </i></h2>


        </mat-card-content>
    </mat-card>
</div>