/* You can add global styles to this file, and also import other style files */

@import '~swiper/swiper-bundle';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
    height: 100%;
    background: url(assets/coverimage.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    background-color: black;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}